@keyframes changeBackgroundColor {
  0%,
  100% {
    opacity: 1;
  }

  16.67% {
    opacity: 0.9;
  }

  33.33% {
    opacity: 0.8;
  }

  50% {
    opacity: 0.6;
  }

  66.67% {
    opacity: 0.5;
  }

  83.33% {
    opacity: 0.4;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-2px);
  }

  40% {
    transform: translateX(2px);
  }

  60% {
    transform: translateX(-2px);
  }

  80% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
